{% extends 'base.html' %}

{% block content %}
    <h1 class = 'text-center mb-5'>Task Management</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <!-- Form -->
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="ป้อนชื่องานที่ต้องการเพิ่ม" name = 'taskName'>
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">เพิ่มงาน</button>
        </div>
    </form>
    
    {% if allTasks %}
    <!-- Table -->
    <table class="table table-Light table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col" class = 'text-center'>ชื่องาน</th>
            <th scope="col" class = 'text-center'>สถานะ</th>
          </tr>
        </thead>
        <tbody>
            {% for task in allTasks %}
                {% if task.status == True %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td class = 'text-center'><a href="{%url 'pending' task.id%}" class = 'btn btn-success'> เรียบร้อย </a></td>
                    </tr>
                {%else%}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td class = 'text-center'><a href="{%url 'completed' task.id%}" class = 'btn btn-warning'> รอดำเนินการ </a></td>
                    </tr>
                {%endif%}
          >
      </nav>  {% endfor %}
        </tbody>
      </table>
    <!-- Pagination -->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% for num in allTasks.paginator.page_range %}
            {% if num != allTasks.number %}
                <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
            {% else %}
                <li class="page-item active"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
            {% endif %}
          {% endfor %}

        </ul>
    {% else %}
        <p class = 'text-center my-5'>ไม่มีงาน</p>
    {% endif %}
{% endblock %}